* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.container {
  background-image: url(/images/bg-intro-mobile.png);
  width: 100%;
  max-width: 375px;
  background-color: hsl(0, 100%, 74%);
  display: flex;
  flex-direction: column;
}

.description {
  padding: 5.9rem 1.4rem 3.75rem;
  color: white;
}

.description h1 {
  font-weight: 700;
  margin-bottom: 1.6rem;
  font-size: 1.9rem;
}

.description p {
  line-height: 25px;
  font-size: 1.2rem;
}

.trial-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trial {
  width: 100%;
  max-width: 325px;
  height: 82px;
  background-color: hsl(248, 32%, 49%);
  color: hsl(246, 25%, 90%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-box-shadow: 1px 13px 14px -8px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 1px 13px 14px -8px rgba(0, 0, 0, 0.56);
  -ms-box-shadow: 1px 13px 14px -8px rgba(0, 0, 0, 0.56);
  box-shadow: 1px 13px 14px -8px rgba(0, 0, 0, 0.56);
}

.trial p {
  line-height: 25px;
  width: 100%;
  max-width: 165px;
}

span {
  font-weight: 700;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 325px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 4rem;
  -moz-box-shadow: 1px 13px 14px -8px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 1px 13px 14px -8px rgba(0, 0, 0, 0.56);
  -ms-box-shadow: 1px 13px 14px -8px rgba(0, 0, 0, 0.56);
  box-shadow: 1px 13px 14px -8px rgba(0, 0, 0, 0.56);
  margin-top: 1.25rem;
}

.component {
  width: 100%;
  max-width: 275px;
  height: 52px;
  padding-left: 0.9rem;
  border: solid hsl(246, 25%, 87%) 1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: hsl(249, 10%, 26%);
  font-size: 0.8rem;
}

.component:focus{
  outline-color: hsl(249, 10%, 26%) ;
}

.first {
  margin-top: 1.2rem;
}

.paragraph {
  border: none;
  padding: 0 1rem;
  font-size: 0.78rem;
  color: hsl(246, 25%, 77%);
  line-height: 20px;
  font-weight: 700;
}

.btn {
  justify-content: center;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border: none;
  padding-left: 0;
  border-radius: 5px;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0;
  -moz-box-shadow: 1px 7px 14px -8px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 1px 7px 14px -8px rgba(0, 0, 0, 0.56);
  -ms-box-shadow: 1px 7px 14px -8px rgba(0, 0, 0, 0.56);
  box-shadow: 1px 7px 14px -8px rgba(0, 0, 0, 0.56);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.terms {
  color: hsl(0, 100%, 74%);
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 275px;
}

#firstName-error {
  position: absolute;
  top: 33px;
  left: 250px;
  visibility: hidden;
}

#lastName-error {
  position: absolute;
  left: 250px;
  visibility: hidden;
}

#email-error {
  position: absolute;
  left: 250px;
  visibility: hidden;
}

#password-error {
  position: absolute;
  left: 250px;
  visibility: hidden;
}

.error-message-container {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 0.9rem;
  width: 100%;
  max-width: 275px;
  margin-top: 0.2rem;
}

.first-error-msg {
  display: none;
  font-size: 10px;
  color: hsl(0, 100%, 74%);
}

.last-error-msg {
  display: none;
  font-size: 10px;
  color: hsl(0, 100%, 74%);
}

.email-error-msg {
  display: none;
  font-size: 10px;
  color: hsl(0, 100%, 74%);
}

.password-error-msg {
  display: none;
  font-size: 10px;
  color: hsl(0, 100%, 74%);
}

@media screen and (min-width: 1440px) {
  main {
    flex-direction: row;
    align-items: initial;
    justify-content: space-around;
  }

  .container {
    flex-direction: row;
    max-width: 100%;
  }

  .desktop-screen-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desktop-screen-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .description {
    text-align: left;
    margin-left: 9rem;
    margin-bottom: 3rem;
  }
  .description h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 800;
  }

  .trial-container {
    width: 100%;
    max-width: 540px;
    margin-bottom: 1.3rem;
    height: 3.75rem;
    margin-right: 8rem;
  }

  .trial {
    height: 55px;
    width: 100%;
    max-width: 100%;
  }

  .trial p {
    max-width: 100%;
  }

  .form-container {
    width: 100%;
    max-width: 540px;
    margin-right: 8rem;
  }

  form {
    width: 100%;
    max-width: 540px;
    height: 473px;
    margin: 0;
  }

  .component {
    width: 100%;
    max-width: 457px;
  }

  .component.first {
    margin-top: 2.3rem;
  }

  .input-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 457px;
  }

  #firstName-error {
    position: absolute;
    top: 50px;
    left: 450px;
    visibility: hidden;
  }

  #lastName-error {
    position: absolute;
    left: 450px;
    visibility: hidden;
  }

  #email-error {
    position: absolute;
    left: 450px;
    visibility: hidden;
  }

  #password-error {
    position: absolute;
    left: 450px;
    visibility: hidden;
  }

  .error-message-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 0.9rem;
    width: 100%;
    max-width: 80%;
    margin-top: 0.2rem;
  }

  .paragraph {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  main {
    height: auto;
  }

  .container {
    background-image: url(/images/bg-intro-mobile.png);
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-color: hsl(0, 100%, 74%);
    display: flex;
    flex-direction: column;
  }

  .description {
    padding: 5.9rem 4.5rem 3.75rem;
  }

  .trial {
    width: 100%;
    max-width: 80%;
    height: 82px;
    background-color: hsl(248, 32%, 49%);
    color: hsl(246, 25%, 90%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .trial p{
    width: 100%;
    max-width: 500px;
    font-size:1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 4rem;
    margin-top: 1.25rem;
  }

  .component {
    width: 100%;
    max-width: 80%;
    height: 52px;
    padding-left: 0.9rem;
    border: solid hsl(246, 25%, 87%) 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: hsl(249, 10%, 26%);
    font-size: 0.8rem;
  }

  .input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }

  .component.paragraph {
    border: none;
  }

  #firstName-error {
    position: absolute;
    top: 35px;
    left: 850px;
    visibility: hidden;
  }

  #lastName-error {
    position: absolute;
    left: 850px;
    visibility: hidden;
  }

  #email-error {
    position: absolute;
    left: 850px;
    visibility: hidden;
  }

  #password-error {
    position: absolute;
    left: 850px;
    visibility: hidden;
  }

  .error-message-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 0.9rem;
    width: 100%;
    max-width: 80%;
    margin-top: 0.2rem;
  }

  .paragraph {
    display: flex;
    justify-content: center;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    height: auto;
  }

  .container {
    background-image: url(/images/bg-intro-mobile.png);
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-color: hsl(0, 100%, 74%);
    display: flex;
    flex-direction: column;
  }

  .description {
    padding: 5.9rem 4.5rem 3.75rem;
  }

  .trial {
    width: 100%;
    max-width: 80%;
    height: 82px;
    background-color: hsl(248, 32%, 49%);
    color: hsl(246, 25%, 90%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .trial p{
    width: 100%;
    max-width: 500px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 4rem;
    margin-top: 1.25rem;
  }

  .component {
    width: 100%;
    max-width: 80%;
    height: 52px;
    padding-left: 0.9rem;
    border: solid hsl(246, 25%, 87%) 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: hsl(249, 10%, 26%);
    font-size: 0.8rem;
  }

  .input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }

  .component.paragraph {
    border: none;
  }

  #firstName-error {
    position: absolute;
    top: 35px;
    left: 680px;
    visibility: hidden;
  }

  #lastName-error {
    position: absolute;
    left: 680px;
    visibility: hidden;
  }

  #email-error {
    position: absolute;
    left: 680px;
    visibility: hidden;
  }

  #password-error {
    position: absolute;
    left: 680px;
    visibility: hidden;
  }

  .error-message-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 0.9rem;
    width: 100%;
    max-width: 80%;
    margin-top: 0.2rem;
  }

  .paragraph {
    display: flex;
    justify-content: center;
  }
}
